.fade-container {
    position: relative;
    display: inline-block;
    padding: 10px;
  }

  .fade-text {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    animation: fadeAnimation 6s infinite;
    height: 40px; /* 设置固定的高度 */
    display: flex;
    align-items: center;
  }

  @keyframes fadeAnimation {
    0% {
      background-color: rgba(255, 255, 255, 1);
    }
    50% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    100% {
      background-color: rgba(255, 255, 255, 1);
    }
  }

/* 默认样式，适用于电脑 */
.bordered {
  box-shadow: 0 0 5px rgba(228, 114, 20, 0.5); /* 使用阴影代替边框 */
  padding: 40px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  overflow: hidden;
}

.bordered:hover {
  box-shadow: 5px 5px 10px rgba(73, 37, 156, 0.8); /* 鼠标悬停时的阴影效果 */
}

.window {
  flex: 1;
  height: 100%;
}

.image-container {
    margin-right: 40px;
    flex-shrink: 0; /* 防止图片收缩 */
    width:auto; /* 设置宽度 */
    height:auto; /* 设置高度 */
    
  }

  .content {
    margin-left: 40px;
    text-align: left;
    flex-grow: 1; /* 占据剩余空间 */
  } 

.content-container {
  display: flex;
  flex-direction: row; /* 横向排列项目 */
  justify-content: space-between; /* 在项目之间添加间距 */
  max-width: 1400px; /* 如果需要，设置最大宽度 */
  margin: 0 auto; /* 水平居中内容 */
}

/* 媒体查询，适用于手机 */
@media screen and (max-width: 768px) {
  .bordered {
    /* 手机样式规则 */
    box-shadow: 0 0 5px rgba(228, 114, 20, 0.5); /* 使用阴影代替边框 */
    flex-direction: column;
    padding: 40px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 80%;

  }


  .window {
    /* 手机样式规则 */
    width: 100%;
    margin: 10px;
  }

  .content {
    margin-left: -200px;
    text-align: center;
    flex-grow: 1; /* 占据剩余空间 */
  } 

  .comment-widget {
    position: fixed; 
    top: 40%;       
    left: 50%;      
    transform: translate(-50%, -50%); 
    width: 300px;   
    height: 500px;  
    margin: 0 auto;
    background-color: #e1e1e1; /* 背景色为淡紫色 */
    overflow: auto; /* 设置溢出内容时显示滚动条 */
    display: none; /* 初始状态隐藏 */
  }

  .content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 在项目之间添加间距 */
  margin: 0 auto; /* 水平居中内容 */
}

}
  
  .search000 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  #searchInput {
    border: none; /* 移除普通边框 */
    padding: 5px; /* 可选：添加一些内边距以使输入框内容不至于太靠近边框 */
    font-size: 16px; /* 可选：设置字体大小 */
    animation: shadowFlow 15s infinite linear; /* 应用阴影流动动画 */
  }

  @keyframes shadowFlow {
    0% {
      box-shadow: 0 0 15px rgba(228, 114, 20, 0.5);
      color: black;
    }
    8.33% {
      box-shadow:  0 0 20px red;
      color: cyan;
    }
    16.67% {
      box-shadow:  0 0 25px orange;
      color: blue;
    }
    25% {
      box-shadow:  0 0 30px yellow;
      color: purple;
    }
    33.33% {
      box-shadow:  0 0 35px green;
      color: pink;
    }
    41.67% {
      box-shadow:  0 0 40px cyan;
      color: yellow;
    }
    50% {
      box-shadow:  0 0 45px blue;
      color: orange;
    }
    58.33% {
      box-shadow:  0 0 50px purple;
      color: green;
    }
    66.67% {
      box-shadow:  0 0 45px gray;
      color: red;
    }
    75% {
      box-shadow:  0 0 40px pink;
      color: white;
    }
    83.33% {
      box-shadow:  0 0 35px black;
      color: gray;
    }
    91.67% {
      box-shadow:  0 0 30px white;
      color: black;
    }
    100% {
      box-shadow: 0 0 20px rgba(8, 55, 109, 0.5);
      color: white;
    }
  }